header{
    border-bottom: solid 5px rgb(230, 49, 49);
    font-size: 25px;
    color: black;
}
body{
    background: blue;
    color: black;
    font-family: "Matemasie", sans-serif;
}
section{
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
div{
    margin-right: 20px;
    
}
.chamada-texto{
    margin-right: 5%;
}
h1{
    font-size: 45px;
}
p{
    font-size: 20px;
}
img{
    height: 100px;
}